<div class="container-fluid">
  <div class="jumbotron">
        <h1 class="title"><span>四维空间</span><br /><span>和谐人生</span></h1>
   </div>

   <div class="slogan">
         <span>我们聚焦于个人精进领域，分别从：
         身体、精神、智力、社会/情感四个维度为您筛选资源。</span>
   </div>
   <div class="imagin">
     <div class="one">
       <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fg02gf2465j30900bcq3i.jpg" alt="跑步圣经">
     </div>
     <div class="two">
       <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1ffxps4ow1vj308i0c3gn1.jpg" alt="瓦尔登湖">
     </div>
     <div class="three">
       <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1ffxps4i2eyj308i0c3dh1.jpg" alt="穷查理宝典">
     </div>
     <div class="four">
       <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg87dsebswj30900bcn20.jpg" alt="第三选择">
     </div>
   </div>
   <div class="clr"></div>

   <div class="slogan">
     <span>提供三种方式满足个性化需求：
        经典书籍、订阅专栏（主题学习）、精华说书!</span>
   </div>
   <div class="imagin">
     <div class="five">
      <a href="#"> <img src="https://ws1.sinaimg.cn/large/006tNc79gy1fg87joegc4j30d205kjvw.jpg" alt="世界文明史">  </a>
      </div>
      <div class="seven">
      <a href="#">  <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg87xw61iaj30jg05kjsh.jpg" alt="北大经济课">  </a>
      </div>
      <div class="six">
      <a href="#">  <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg87qzyx0tj30g605kgm9.jpg" alt="陈甲说书">  </a>
      </div>


   </div>


   <!-- <div class="main">
       <div class="header">
         <h2>精神探索</h2>
       </div>
       <div class="four">
         <p>精神是生命的指引。</p>
         <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1ffxps4ow1vj308i0c3gn1.jpg" alt="瓦尔登湖">
       </div>
       <div class="clr"></div>

   </div>
   <div class="main">
       <div class="header">
         <h2>智能提升</h2>
       </div>
       <div class="four">

       </div>
       <div class="four-">

       </div>
   </div>
   <div class="main">
       <div class="header">
         <h2>情感融洽</h2>
       </div>
       <div class="four">

       </div>
       <div class="four-">

       </div>
   </div>
   <div class="main">
       <div class="header">
         <h2>身体锻炼</h2>
       </div>
       <div class="four">

       </div>
       <div class="four-">

       </div>
   </div>

   <div class="three">
     <h2>三种方式</h2>
     <div class="method1">

     </div>
     <div class="method2">

     </div>
     <div class="method3">

     </div>
   </div> -->

 </div>

<!---三种方式：书籍、专栏、说书--->

<!-- <div class="somebox">
      <div class="somebox-">
        <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fg02gf2465j30900bcq3i.jpg" alt="优雅瘦身">
      </div>
      <hr>

      <div class="somebox-">
        <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1ffxps4ow1vj308i0c3gn1.jpg" alt="瓦尔登湖">
      </div>
      <hr>

      <div class="somebox-">
        <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1ffxps4i2eyj308i0c3dh1.jpg" alt="穷查理宝典">
      </div>
      <hr>
      <div class="somebox-">
        <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1ffxps4i491j308i0c3gms.jpg" alt="第三选择">
      </div>
</div>

<div class="">
      <div class="">

      </div>

      <div class="">

      </div>

      <div class="">

      </div>
</div>


</div> -->
