<div class="jumbotron">
      <h1 class="title">四维空间</h1>
      <p class="slogan">
          聚焦于<span style="color:#4CAF50;">个人不断精进</span>领域，分别从： <br>
          <span style="color:#4CAF50;"><b>身体、精神、智力、社会\情感</b></span><br>四个维度筛选资源。<br>
          有三种学习方式以满足个性化需求： <br>
          <span style="color:#4CAF50;">经典书籍、订阅专栏（主题学习）、精华说书!</span>
      </p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/products">加入我们</a></p>
 </div>  <!---这是首图大盒子--->
 <hr>

<!---三种方式：书籍、专栏、说书--->

<!-- <div class="somebox">
      <div class="somebox-">
        <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fg02gf2465j30900bcq3i.jpg" alt="优雅瘦身">
      </div>
      <hr>

      <div class="somebox-">
        <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1ffxps4ow1vj308i0c3gn1.jpg" alt="瓦尔登湖">
      </div>
      <hr>

      <div class="somebox-">
        <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1ffxps4i2eyj308i0c3dh1.jpg" alt="穷查理宝典">
      </div>
      <hr>
      <div class="somebox-">
        <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1ffxps4i491j308i0c3gms.jpg" alt="第三选择">
      </div>
</div>

<div class="">
      <div class="">

      </div>

      <div class="">

      </div>

      <div class="">

      </div>
</div>


</div> -->
