/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

// ----这是首页css区域--
.container {

}

.jumbotron {
  height: 800px;
  background-image: url('https://ws2.sinaimg.cn/large/006tKfTcgy1fg0bxqeso0j31500pm42h.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: -20px -55px 20px -55px;
  border-radius: 0;
  // padding-bottom: 110px;
}

.title {
  max-width: 500px; //最大宽度
  margin-top: 60px;
  padding-left: 10px;
  // border-top-left-radius: 5px; //左上角圆边
}

.jumbotron span {
  font-size: 1em;
  padding: 20px;
  text-align: left; //文字左对齐
  color: #EEE;
}

.btn-danger {
  color: #fff; //字体颜色
  background-color: #4CAF50; //背景颜色
  border-color: #4CAF50;; //边框颜色
}

.btn-danger:hover {
  background-color: #E65100; //鼠标放置btn上的背景颜色
  border-color: #E65100; //鼠标放置在btn上的边框颜色
}

.btn-lg, .btn-group-lg > .btn {
  padding: 8px 16px; //通过padding来改变btn大小。
  font-size: 20px; //btn文字大小
  letter-spacing: 3px;
  border-radius: 5px;
  width: 200px; //这里用指定宽度把btn啦得更长
}

.slogan {
  margin-bottom: 20px;
}

.slogan span {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 2em;
  color: #616161;
  padding: 20px 0 20px 0;
  border-top: 5px solid #EEE;
}

.imagin {
  background-color: #EEE;
  margin-bottom: 40px;
}
.imagin .one {
  float: left;
}

.imagin .two {
  float: left;
}

.imagin .three {
  float: left;
}

.imagin .four {
  float: left;
}

.imagin .five {
  float: left;
}

.imagin .six {
  float: left;
}

.imagin .seven {
  float: left;
}

.clr {
  clear: both;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}

//---navbar ---
.navbar-default {
  color: white;
  background-color: #424242; //xzxx
  border-color: #424242;//边框颜色
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

navbar-default .navbar-brand {
  color: white;//字体颜色
  padding: 10px 15px; //上下10px。。。
  line-height: 30px; //文字航高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FF6F00; //鼠标放置在链接上的文字颜色
  background-color: transparent;//鼠标放置在链接上的文字背景颜色，这里设为透明
}

.navbar-default .navbar-nav > li > a{
   color: #E0E0E0;

 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
   color: blue;

   background-color: transparent;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
   color: #FF6F00;

   background-color: #FFE0B2;

 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
   background-color: #FFE0B2;

   color: #212121;

 }

 //----main area---
 .clr {
   clear: both;
 }

 .four {
   height: 400px;
   border: 1px solid #EEE;
 }

 .four p {
   font-size: 3em;
   padding: 170px 150px 170px 20px;
   border-right: 5px solid #EEE;
   float: left;
 }
 .four img {
   float:left;
 }

 //-----footer---
 .container-fluid .foot {
   background-color: #EEE;
   margin-top: 400px;
   height: 180px;
 }

 .foot p {
   text-align: center;
    height: 50px;
    margin-top: 25px;
    color: #9E9E9E;
}
