<footer class="container-fluid foot">
  <div class="row">
    <div class="col col-md-12 col-default">

    </div>
    <p>Copyright ©2017 四维空间
        <br>Design by LIN & YI
    </p>
  </div>
</div>
</footer>
