<footer class="container-fluid foot">
  <div class="row">
    <p class="slogan">
        聚焦于<span style="">个人精进</span>领域，分别从： <br>
        <span style=""></b>身体、精神、智力、社会\情感</b></span><br>四个维度为您筛选资源。<br>
        提供三种方式满足个性化需求： <br>
        <span style="">经典书籍、订阅专栏（主题学习）、精华说书!</span>
    </p>
    <p>Copyright ©2017 四维空间
        <br>Design by LIN & YI

    </p>
  </div>
</footer>
